*,
*::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    background-color: #000000;
}

.wrapper {
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

.header {
    height: 44px;
    margin-top: 35px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__company {
    display: flex;
    width: fit-content;
}

.company__logo {}

.header__image {
    width: 35px;
}

.company__title {
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 43px;
    color: white;
    margin-left: 10px;
}

.header__options {}

.options__list {
    display: flex;
    width: fit-content;
}

.options__item {
    color: #707070;
    margin: 0 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
}

.options__item:hover {
    color: #3C82F4;
}

.header__buttons {
    display: flex;
    /* marker-mid: 10px; */
    width: fit-content;
}

.header__button {
    width: 93px;
    height: 43px;
    margin-left: 10px;
}

.button__login {
    width: 100%;
    height: 100%;
    color: #707070;
    background: none;
    /* border: 2px solid #707070; */
    border-radius: 5px;
    font-size: 16px;
}


.button__signup {
    width: 100%;
    height: 100%;
    background-color: #306EF7;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

/* MAIN */

.main {}

.main__container {}

/* MAIN HEADING */

.main__heading {
    width: fit-content;
    display: flex;
    justify-content: center;
    width: 100%;
}

.heading__texts {
    margin-top: 78px;
    display: flex;
    flex-direction: column;
}

.text {
    margin-top: 15px;
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.text__gradient {
    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #FE6783, #FFBF84);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* MAIN STARTED */

.started__block {
    max-width: 521px;
    height: 194px;
    margin: 113px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.started__text {
    color: #707070;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
}

.started__buttons {
    display: flex;
    justify-content: space-evenly;
}

.started__button {
    width: 194px;
    height: 47px;
}

.started__now {
    width: 100%;
    height: 100%;
    background-color: #326CF9;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.started__demo {
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid #707070;
    border-radius: 5px;
    color: #707070;
    font-size: 15px;
}

.started__creators {
    color: #707070;
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.started__dot {
    width: 21px;
}

.creators__span {
    color: white;
    font-size: 17px;
}

/* MAIN CREATORS LOVE MARICO */

.creators__love-marico {
    height: 191px;
    width: 1156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 146px;
}

.love-marico__title {
    color: #ffff;
    font-weight: 600;
    font-size: 52px;
    text-align: center;
}

.love-marico__reasons {
    display: flex;
    justify-content: space-between;
}

.love-marico__reason {
    width: fit-content;
}

.reason__title {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.reason__title-wrapper {
    align-items: center;
    display: flex;
}

.reason__title-emoji {
    width: 28px;
    margin-right: 5px;
}

.reason__titile-text {
    color: white;
}

.reason__content {}

.reason__content-text {
    color: #707070;
}

/* CONNECT CONTENT */

.connect__content {
    width: 725px;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 124px
}

.connect__content-title {
    margin-bottom: 30px;
}

.connect__content-title-step1 {
    color: #3D82F2;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.connect__content-title-main-text {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    color: white;
}

.connect__content-content {}

.connect__content-content-text {
    font-weight: 200;
    font-size: 20px;
    color: #707070;
    text-align: center;
    margin-bottom: 30px;
}

.connect__content-content-button-block-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.connect__content-content-button {
    width: 214px;
    height: 50px;
    color: #707070;
    border: 2px solid #707070;
    background: none;
    border-radius: 5px;
    font-size: 15px;
}

/* YOUR HOMEPAGE */

.your__homepage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 108px;
}

.your__homepage-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.your__homepage-info-text {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: white;
}

.your__homepage-info-reasons {}

.your__homepage-info-reasons-title {
    margin-bottom: 30px;
}

.your__homepage-info-reasons-title-text {
    font-weight: 600;
    font-size: 48px;
    color: white;
}

.your__homepage-info-reasons-blocks {}

.your__homepage-info-reasons-block {
    display: flex;
    margin-bottom: 15px;
    height: fit-content;
    align-items: center;
}

.your__homepage-info-reasons-block-number {
    margin-right: 10px;
}

.your__homepage-info-reasons-block-number-image {
    width: 26px;
}

.your__homepage-info-reasons-block-reason {}

.your__homepage-info-reasons-block-reason-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.your__homepage-info-buttons {
    display: flex;
    justify-content: space-around;
}

.your-homepage__button {
    width: 194px;
    height: 47px;
}

.your__homepage-screen {
    width: fit-content;
    height: fit-content;
}


.your__homepage-screen-image {
    width: 580px;
}

/* YOUR HOMEPAGE SHARE */
.your-homepage-share {
    width: 604px;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 124px
}

.your-homepage-share-title {
    margin-bottom: 30px;
}

.your-homepage-share-title-step2 {
    color: #3D82F2;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.your-homepage-share-title-main-text {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    color: white;
}

.your-homepage-share-content {}

.your-homepage-share-content-text {
    font-weight: 200;
    font-size: 20px;
    color: #707070;
    text-align: center;
    margin-bottom: 30px;
}

/* ONE LINK CONNECT */

.one-link__connect {
    margin-bottom: 149px;
}

.one-link-connect-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.one-link__connect-content-wrapper {
    margin-top: 20px;
    margin-left: 20px;
}

.one-link__connect-one-link {
    background-color: #0D0D0D;
    width: 48%;
}

.one-link__connect-block-title {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #0FC65C;
    margin-bottom: 30px;
}

.one-link__connect-one-link-content {}

.one-link__connect-one-link-content-texts {
    margin-bottom: 20px;
}

.one-link__connect-collect-subscribers-content-grey-text {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #919191;
}

.one-link__connect-collect-subscribers-content-white-text {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: white;
}

.one-link__connect-one-link-content-image-phone {
    width: 100%;
}

.one-link__connect-collect-subscribers {
    background-color: #0D0D0D;
    width: 48%;
}

.one-link__connect-collect-subscribers-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.one-link-connect-buttons {
    display: flex;
    justify-content: center;
}

.one-link-connect-button {
    width: 194px;
    height: 47px;
}


.send__emails {
    width: 604px;
    height: fit-content;
    margin: 0 auto;
    margin-bottom: 124px
}

.send__emails-share-title {
    margin-bottom: 30px;
}

.send__emails-title-step3 {
    color: #3D82F2;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.send__emails-title-main-text {
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    text-align: center;
    color: white;
}

.send__emails-content {}

.send__emails-content-text {
    font-weight: 200;
    font-size: 20px;
    color: #707070;
    text-align: center;
    margin-bottom: 30px;
}

/* CREATE SHARE */

.create__share {
    display: flex;
    justify-content: space-between;
    margin-bottom: 108px;
}

.create__share-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.create__share-info-text {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: white;
}

.create__share-info-reasons {}

.create__share-info-reasons-title {
    margin-bottom: 30px;
}

.create__share-info-reasons-title-text {
    font-weight: 600;
    font-size: 48px;
    color: white;
}

.create__share-info-reasons-blocks {}

.create__share-info-reasons-block {
    display: flex;
    margin-bottom: 15px;
    height: fit-content;
    align-items: center;
}

.create__share-info-reasons-block-number {
    margin-right: 10px;
}

.create__share-info-reasons-block-number-image {
    width: 26px;
}

.create__share-info-reasons-block-reason {}

.create__share-info-reasons-block-reason-text {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.create__share-info-buttons {
    display: flex;
    justify-content: space-around;
}

.create__share-button {
    width: 194px;
    height: 47px;
}

.create-share-screen {
    width: fit-content;
    height: fit-content;
}


.create-share-screen-image {
    width: 580px;
}

/* Experts Agree */

.experts__agree {
    margin-bottom: 169px;
}

.experts__agree-title {
    margin-bottom: 30px;
}

.experts__agree-title-text {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}

.experts__agree-screen {}

.experts__agree-screen-image {
    width: 100%;
}

/* Audience */

.audience {}

.audience-title {}

.audience-title-text {}

.audience-screen {}

.audience-screen-image {
    width: 100%;
    height: 100%;
}

/* END BLOCK */

.end__block {
    margin-bottom: 163px;
}

.end__block-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.end__block-icon-image {
    width: 98px;
}

.end__block-info {}

.end__block-info-title {
    text-align: center;
    margin-bottom: 20px;
}

.end__block-info-title-text {
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    color: #FFFFFF;
}

.end__block-info-text {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

.end__block-started-button-block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.end__block-started-button-block-button {
    width: 287px;
    height: 65px;
    background-color: #3D82F2;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.end__block-info-creators {
    display: flex;
    justify-content: center;
    align-items: center;

}

.end__block-info-creators-icon {}

.end__block-info-creators-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    text-align: center;
}

.end__block-info-creators-count {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}


/* FOOTER */

.footer {
    margin-bottom: 86px;
    height: fit-content;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__company {}

.footer__company-logo {
    display: flex;
    align-items: center;
    align-items: center;
}

.footer__company-logo-image {
    width: 32px;
    margin-right: 15px;
}

.footer__company-logo-title {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    color: #ffff;
}

.footer__company-email {
    margin-top: 10px;
}

.footer__company-email-text {
    color: #707070;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.footer__menu {}

.footer__list {
    display: flex;
    align-items: center;
    height: 100%;
}

.footer__list-item {
    color: #707070;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-left: 30px;
}

.footer__list-item:hover {
    color: #326DF9;
}

/* ALL */

.blue__span {
    color: #326DF9;
    ;
}

[class*="__container"] {
    max-width: 1280px;
    margin: 0 auto;
}